@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

/* #region variables */
$pink: rgb(255, 95, 183);
$background-color: rgb(247, 211, 248);
/* #endregion */

/* #region default configuration */
mat-icon {
  font-family: "Material Icons";
}
/* #endregion  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  background: #{$background-color};
}

.title {
  font-weight: bold;
  font-size: 36px;
  overflow: hidden;
  border-right: 0.15em solid #{$pink};
  white-space: nowrap;
  margin: 8px auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(35, end), blink-bar 0.75s step-end infinite;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.length-control {
  width: 35%;
  margin: 0 8px;
}

.length-input {
  text-align: center;
}

.slider {
  margin-left: 8px;
  width: 55%;
  color: pink;
}

.generated-password-section {
  width: 50%;
  text-align: center;
  margin: 16px 0;
  overflow-x: auto;
  font-size: 2em;
}

.error {
  width: 100%;
}

.options {
  width: 50%;
  margin-top: 32px;
  padding: 16px 0;
}

.checkbox-control {
  width: 30%;
}

.background-white {
  background-color: white;
}

.black-border {
  border: 1px solid black;
  border-radius: 4px;
}

.checkbox-section {
  text-align: center;
}

.copy-button {
  margin-top: 32px;
  padding: 24px;
  width: 50%;
  font-size: 1.5em;
}

.action-button {
  border: none;
  margin: 0 8px;
  cursor: pointer;
}

/* #region scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #{$pink};
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #{$pink};
}
/* #endregion */

/* #region to change angular material color/size */
.mdc-label {
  font-size: 16px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #{$pink};
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #{$pink};
}
/* #endregion */

/* #region keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-bar {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #{$pink};
  }
}
/* #endregion */
