<div class="container">
  <div>
    <h1 class="title">Angular Password Generator</h1>
  </div>
  <form class="password-form" [formGroup]="passwordForm">
    <mat-form-field
      class="generated-password-section background-white"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <input matInput readonly="true" formControlName="generatedPassword" />
      <button
        matSuffix
        class="background-white action-button"
        [cdkCopyToClipboard]="passwordForm.controls['generatedPassword'].value"
      >
        <mat-icon class="icon">content_copy</mat-icon>
      </button>
      <button
        matSuffix
        class="background-white action-button"
        (click)="generate()"
      >
        <mat-icon class="icon">autorenew</mat-icon>
      </button>
    </mat-form-field>
    <div class="options background-white black-border">
      <mat-form-field class="length-control" appearance="outline">
        <mat-label>Length</mat-label>
        <input
          class="length-input"
          type="number"
          matInput
          formControlName="length"
          (change)="onLengthChange()"
        />
        <mat-error
          class="error"
          *ngIf="passwordForm.controls['length'].hasError('required')"
        >
          Enter a valid value
        </mat-error>
        <mat-error
          *ngIf="
            passwordForm.controls['length'].hasError('min') ||
            passwordForm.controls['length'].hasError('max')
          "
        >
          Please enter a value between 0 and 32
        </mat-error>
      </mat-form-field>

      <mat-slider
        min="1"
        max="32"
        step="1"
        value="12"
        class="slider"
        color="accent"
      >
        <input
          matSliderThumb
          inputRef
          formControlName="length"
          (change)="onLengthChange()"
          [value]="passwordForm.controls['length'].value"
        />
      </mat-slider>

      <section class="checkbox-section">
        <mat-checkbox
          class="checkbox-control"
          formControlName="useLetters"
          (change)="generate()"
          >Include letters</mat-checkbox
        >
        <mat-checkbox
          class="checkbox-control"
          formControlName="useNumbers"
          (change)="generate()"
          >Include numbers</mat-checkbox
        >
        <mat-checkbox
          class="checkbox-control"
          formControlName="useSymbols"
          (change)="generate()"
          >Include symbols</mat-checkbox
        >
      </section>
    </div>
  </form>

  <button
    mat-raised-button
    color="primary"
    class="copy-button"
    [cdkCopyToClipboard]="passwordForm.controls['generatedPassword'].value"
  >
    Copy to clipboard
  </button>
</div>
